<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <div>
      <%- include('./common/header') %>
      <h3>Home</h3>
      <%- include('./common/footer') %>
    </div>
  </body>
</html>
