<!DOCTYPE html>
<html lang="en">
  <% include ./include/header %>
  <body>
    <div class="container">
      <div class="row">
        <h4>
          Welcome to StreamDB, search for any Movie or Show to get Info...
        </h4>
      </div>
      <hr />
      <div class="row">
        <p style="height: 30px;">To get you started...</p>
        <ul class="collection">
          <% data.forEach(function(movie){ %>
          <li class="collection-item">
            <strong><%= movie["Title"] %></strong> <i>(<%= movie.Year %>)</i>
            <br />
            <small><%= movie.Type.toUpperCase() %></small>
            <br />
            <input
              class="waves-effect waves-light btn-small"
              type="submit"
              value="View Details"
              onclick="window.location='/details/<%= movie.imdbID %>';"
            />
          </li>
          <% }) %>
        </ul>
      </div>
    </div>

    <% include ./include/scripts %> <% include ./include/footer %>
  </body>
</html>
